body {
    background-image: url(https://narrativescience.com/Portals/0/EasyDNNnews/1770/whatisartificialintelligencethumbnail.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;/*不会显示Dropdown里的内容*/
    position: absolute;/*Dropdown不会变大*/
    background-color: white;/*Dropdown的内容的背景*/
    min-width: 160px;/*Dropdown的内容的长短*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);/*Dropdown的内容影子*/
    z-index: 1;/*Dropdown的内容显示在文字之后*/
}

/*用于设计Dropdown的内容里的字*/
.dropdown-content a {
    float: none; /*不会平行*/
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;/*字的位置不变*/
    text-align: left;
}

/*dropdown的背景不变*/
.dropdown-content a:hover {
    background-color:red;/*鼠标点的时候是红色*/
}

/*显示dropdown的内容*/
.dropdown:hover .dropdown-content {
   display: block; 
}

/*Put two divs on same line - Reference "https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other"*/
#sports {
    display: inline-block;
}
#personal {
    display: inline-block;
}
#education {
    display: inline-block;
}
#work {
    display: inline-block;
}
#travel {
    display: inline-block;
}
#cloud {
    display: inline-block;
}

