.mainhesding{
    text-align:center;
}

/*Put two divs on same line - Reference "https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other"*/
#cv {
    display: inline-block;
}
#interests {
    display: inline-block;
}
#shop {
    display: inline-block;
}
#github{
    display: inline-block;
}
#heroku{
    display: inline-block;
}