
/* Style the tab */
.tab {
    width: 220px;
    position:fixed;
    z-index: 1;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*When mouse moved to button in side navagation bar, the color will be changed*/
.tab a:hover {
    color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;/*The inherit keyword specifies that a property should inherit its value from its parent element.*/
    color: white;
    padding: 32px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
/* Add backgroun color */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 30px;
}


/*Put two divs on same line - Reference "https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other"*/

#Salesforce {
    display: inline-block;
}
#Cloud9 {
    display: inline-block;
}
#Amazon {
    display: inline-block;
}
#Gmail {
    display: inline-block;
}
#Salesforce1 {
    display: inline-block;
}
#Cloud91 {
    display: inline-block;
}
#Amazon1 {
    display: inline-block;
}
#Gmail1 {
    display: inline-block;
}
#official{
    display: inline-block;
}
#wiki {
    display: inline-block;
}
#official1{
    display: inline-block;
}
#wiki1 {
    display: inline-block;
}

#official2{
    display: inline-block;
}
#wiki2 {
    display: inline-block;
}
#official3{
    display: inline-block;
}
#wiki3 {
    display: inline-block;
}
#SaaS{
    display: inline-block;
}
#saas {
    display: inline-block;
}
#PaaS{
    display: inline-block;
}
#paas {
    display: inline-block;
}
#IaaS{
    display: inline-block;
}
#iaas {
    display: inline-block;
}
#CaaS{
    display: inline-block;
}
#caas {
    display: inline-block;
}
